@import '../../../../scss/defaultStyle.scss';

.search-container {
  width: 100%;
  min-height: 100vh;
  background-color: coral;
  padding: 1rem;

  .input-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.back-button {
  padding: 0.4rem;
  border-radius: 10px;
  background-color: $otherButton;
  color: $thirdText;
  border: none;

  &:hover {
    cursor: pointer;
  }
}